#background{
	background-image: url("../assets/backgrounds/landing.jpg");
	height: 374px;
	width:100%;
	background-repeat: no-repeat;
	background-size:cover;
	justify-content:center;
	align-items:center;
	background-attachment: fixed;
}
.logo{
	text-align: center;
	margin-top: 18px;
	font-color: white;

}
